* {
    margin: 0;
    padding: 10px;
}

html {
    font: 16px "Segoe UI", "Segoe WPC", Helvetica, Arial, "Arial Unicode MS", Sans-Serif;
}

div {
    float: left;
    position: relative;
}


@keyframes fade {

    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: none;
    animation-iteration-count: infinite;
}

.h {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 25%;
}